:root {
  --active-nav-color: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
  --icons-and-shapes-color: invert(27%) sepia(33%) saturate(908%)
    hue-rotate(204deg) brightness(92%) contrast(93%);
  --purple-linear-gradient: linear-gradient(to right, #494685 0%, #494685 100%);
}

/* Home page*/
img.logo-main,
img.logo-light,
a.footer-logo > img {
  width: 8vw !important;
  border-radius: 25%;
  box-shadow: 0 4px 8px 0 #494685;
}

img.icons {
  filter: invert(19%) sepia(7%) saturate(526%) hue-rotate(260deg)
    brightness(94%) contrast(86%);
}

.section-title .subtitle.line-theme-color:after {
  background: var(--purple-linear-gradient);
}

.btn-theme.btn-gradient,
.testimonial-area.testimonial-default-area .title-wrp:after {
  background: var(--purple-linear-gradient);
}

.section-title .subtitle {
  color: #494685;
}

.testimonial-single .client-info .designation {
  color: white;
}

/* 3 cards */
.btn-theme.btn-border-gradient.gray-border:hover {
  background: #494685;
  background: linear-gradient(to left, #494685 0%, #e0ccdc 100%);
}

img.img-shape,
img.icon-img,
img.shape-img,
img.icon,
img.line-shape,
.shape-layer img {
  filter: var(--icons-and-shapes-color);
}

img.shape-line-img {
  filter: var(--active-nav-color);
}

/* Active 
header.header-area.header-default
  .header-align
  .header-navigation-area
  .main-menu
  > li.active
  > a::before {
    filter: var(--active-nav-color);
  }
*/

.home-slider-area.slider-default
  .slider-content-area
  .content
  .tittle-wrp
  h2
  span:before {
  filter: invert(20%) sepia(6%) saturate(572%) hue-rotate(260deg)
    brightness(91%) contrast(86%);
}

a:hover,
a:active,
a:focus {
  box-shadow: none;
  color: #e0ccdc !important ;
  outline: none;
  text-decoration: none;
}

.section-title .title span {
  /* background: #FEA444; */
  background: linear-gradient(to right, #e0ccdc 0%, #baaab7 190%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.causes-item .content .donate-info .info-item .amount {
  background: linear-gradient(to left, #494685 0%, #3e393d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.causes-item .content .donate-info .info-item:hover {
  background: #e0ccdc;
  background: linear-gradient(to left, #e0ccdc 0%, #494685 100%);
}
.causes-item .content .donate-info .info-item:hover .info-title,
.causes-item .content .donate-info .info-item:hover .amount {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

img.shape-img3,
#circle1 {
  filter: invert(21%) sepia(4%) saturate(821%) hue-rotate(260deg)
    brightness(89%) contrast(86%);
}

.home-slider-area.slider-default
  .slider-content-area
  .content
  .subtitle-content
  h6 {
  background: linear-gradient(to right, #474480 0%, #baaab7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img#shape1 {
  filter: invert(25%) sepia(8%) saturate(3931%) hue-rotate(204deg)
    brightness(97%) contrast(85%);
}

img.circle-img {
  filter: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
}

.icon-box-style1 .icon-box-item {
  background-color: #474480;
}

.icon-box-style1 .icon-box-item.item-three {
  background-color: #baaab7;
}

.home-slider-area.slider-default
  .slider-content-area
  .layer-style
  .donate-circle-wrp {
  background-image: -ms-linear-gradient(-30deg, #474480 0%, #baaab7 100%);
  background: linear-gradient(-30deg, #474480 0%, #baaab7 100%);
}

.about-area .about-content .text-style:before {
  background-color: #baaab7;
}

.welcome-content .client-content p {
  color: #c2c2c2;
  font-size: 17.5px;
  font-family: "Yeseva One", cursive; /*  */
  line-height: 1.6;
  width: 35vw;
}

.welcome-content .client-content h1 {
  color: #c2c2c2;
}

table#entry-fees {
  font-family: "Yeseva One", cursive;
  margin-top: 3%;
  color: #fff;
}

table#entry-fees tr > th,
table#entry-fees tr > td {
  padding: 1%;
}

table#entry-fees tr > td {
  width: 448px;
}

table#entry-fees tr > th {
  background: linear-gradient(#54528a, #9198e5);
}

table#entry-fees tr > th#desc {
  border-top-left-radius: 20px;
}

table#entry-fees tr > th#session-fee {
  border-top-right-radius: 20px;
}

table#entry-fees tr > td {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}

.footer-area .footer-bottom .widget-copyright p span,
.footer-area .footer-bottom .widget-copyright p a,
.footer-area .footer-bottom .widget-copyright p i {
  color: #4280e5;
}

@media (max-width: 600px) {
  h1.title {
    text-align: center;
  }
  .welcome-content .client-content p {
    color: #c2c2c2;
    font-size: 17.5px;
    font-family: "Yeseva One", cursive; /*  */
    line-height: 1.6;
    margin: 0 auto;
    width: 75vw;
  }

  .welcome-content .client-content div.text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .sponsors {
    margin: 0 auto;
  }
}

/* About Us page*/
.section-title .title.org {
  font-size: 60px;
  width: 75vw;
}
