:root {
  --active-nav-color: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
  --icons-and-shapes-color: invert(27%) sepia(33%) saturate(908%)
    hue-rotate(204deg) brightness(92%) contrast(93%);
  --purple-linear-gradient: linear-gradient(to right, #494685 0%, #494685 100%);
}

img.logo-main,
img.logo-light,
a.footer-logo > img {
  width: 8vw !important;
  border-radius: 25%;
  box-shadow: 0 4px 8px 0 #494685;
}

img.icons {
  filter: invert(19%) sepia(7%) saturate(526%) hue-rotate(260deg)
    brightness(94%) contrast(86%);
}

.section-title .subtitle.line-theme-color:after {
  background: var(--purple-linear-gradient);
}

.btn-theme.btn-gradient,
.testimonial-area.testimonial-default-area .title-wrp:after {
  background: var(--purple-linear-gradient);
}

.section-title .subtitle {
  color: #494685;
}

.testimonial-single .client-info .designation {
  color: white;
}

/* 3 cards */
.btn-theme.btn-border-gradient.gray-border:hover {
  background: #494685;
  background: linear-gradient(to left, #494685 0%, #e0ccdc 100%);
}

img.img-shape,
img.icon-img,
img.shape-img,
img.icon,
img.line-shape {
  filter: var(--icons-and-shapes-color);
}

/* Active */
header.header-area.header-default
  .header-align
  .header-navigation-area
  .main-menu
  > li.active
  > a::before,
  img.shape-line-img {
  filter: var(--active-nav-color);
}

.home-slider-area.slider-default
  .slider-content-area
  .content
  .tittle-wrp
  h2
  span:before {
  filter: invert(20%) sepia(6%) saturate(572%) hue-rotate(260deg)
    brightness(91%) contrast(86%);
}

a:hover,
a:active,
a:focus {
  box-shadow: none;
  color: #e0ccdc !important ;
  outline: none;
  text-decoration: none;
}

.section-title .title span {
  /* background: #FEA444; */
  background: linear-gradient(to right, #e0ccdc 0%, #baaab7 190%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.causes-item .content .donate-info .info-item .amount {
  background: linear-gradient(to left, #494685 0%, #3e393d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.causes-item .content .donate-info .info-item:hover {
  background: #e0ccdc;
  background: linear-gradient(to left, #e0ccdc 0%, #494685 100%);
}
.causes-item .content .donate-info .info-item:hover .info-title,
.causes-item .content .donate-info .info-item:hover .amount {
  color: #fff;
  -webkit-text-fill-color: #fff;
}



img.shape-img3,
#circle1 {
  filter: invert(21%) sepia(4%) saturate(821%) hue-rotate(260deg)
    brightness(89%) contrast(86%);
}

.home-slider-area.slider-default
  .slider-content-area
  .content
  .subtitle-content
  h6 {
  background: linear-gradient(to right, #474480 0%, #baaab7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img#shape1 {
  filter: invert(25%) sepia(8%) saturate(3931%) hue-rotate(204deg)
    brightness(97%) contrast(85%);
}

img.circle-img {
  filter: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
}

.icon-box-style1 .icon-box-item {
  background-color: #474480;
}

.icon-box-style1 .icon-box-item.item-three {
  background-color: #baaab7;
}

.home-slider-area.slider-default
  .slider-content-area
  .layer-style
  .donate-circle-wrp {
  background-image: -ms-linear-gradient(-30deg, #474480 0%, #baaab7 100%);
  background: linear-gradient(-30deg, #474480 0%, #baaab7 100%);
}

.about-area .about-content .text-style:before {
  background-color: #baaab7;
}
