:root {
  --active-nav-color: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
  --icons-and-shapes-color: invert(27%) sepia(33%) saturate(908%)
    hue-rotate(204deg) brightness(92%) contrast(93%);
  --purple-linear-gradient: linear-gradient(to right, #494685 0%, #3a3367 100%);
}

::-moz-selection {
  background-color: #7c39d9;
}

::selection {
  background-color: #7c39d9;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: #474480;
  font-weight: 600;
  cursor: pointer;
}

/* Home page*/
img.logo-main,
img.logo-light,
a.footer-logo > img {
  width: 8vw !important;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 #494685;
}

img.icons {
  width: 50px;
}

img.icons {
  filter: invert(19%) sepia(7%) saturate(526%) hue-rotate(260deg)
    brightness(94%) contrast(86%);
}

.section-title .subtitle.line-theme-color:after {
  background: var(--purple-linear-gradient);
}

.p-text {
  font-size: 1.5rem;
  width: 35vw;
  font-weight: 300;
}

.btn-theme.btn-gradient,
.testimonial-area.testimonial-default-area .title-wrp:after {
  background: var(--purple-linear-gradient);
}

.section-title .subtitle {
  color: #494685;
}

.testimonial-single .client-info .designation {
  color: white;
}

.testimonial-content {
  color: #fff;
}

/********
Testimonial
********/

.icon-box-item.item-one.mb-md-30 .content > .testimonial-content,
.icon-box-item.item-two.mb-md-30 .content > .testimonial-content,
.icon-box-item.item-three .content > .testimonial-content {
  position: absolute;
  top: 230px;
  width: 300px;
  padding: 1rem;
  /*
  overflow-y: scroll;
  overflow-x: hidden;
  */
  height: 170px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.preloader-wrap .preloader .dot {
  background: linear-gradient(to right, #dc67dc 0%, #7c39d9 30%, #7c39d9 100%);
}

/* =====================
  GENERAL
 ===================== */
.colorful {
  background: linear-gradient(to right, #dc67dc 0%, #7c39d9 30%, #7c39d9 100%);
  color: #fff;
  padding: 0.3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorful::selection,
.colorful::-moz-selection {
  -webkit-text-fill-color: #fff;
}

/* =====================
  SPACING
 ===================== */
.mt-5rem {
  margin-top: 5rem;
}

/* =====================
  TYPOGRAPHY
 ===================== */
.custom-font-size {
  font-size: 1.4375rem;
  color: #333;
  font-weight: 300;
}

/* =====================
  VISON WITH SPLASH OF INK BG
  ===================== */

.title.vision-shape-bg {
  background-image: url(../img/shape/banner-title-shape-colored.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0.5rem;
  text-shadow: -2px -2px 5px rgba(255, 255, 255, 1);
}

.title.title.vision-shape-bg span {
  -webkit-text-fill-color: #fff;
}

.illuminating-word {
  text-shadow: 2px 2px 8px rgb(0 0 0), 0px 2px 10px rgb(0 0 0),
    2px 2px 8px rgb(0 0 0), 2px 2px 8px rgb(0 0 0);
}

.footer-area .footer-main .scroll-to-top {
  background: var(--purple-linear-gradient);
}

table#contacts-content tr > td {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.723;
  position: relative;
  top: 1rem;
  left: -6rem;
}

p#privacy-policy-lv {
  padding: 1rem;
}

@media screen and (min-width: 1200px) {
  .title.vision-shape-bg {
    padding: 0;
  }
}

/* =====================
  LIST
  ===================== */
.list {
  margin-left: 2rem;
  margin-top: 0;
}

.list li {
  list-style: disc;
  display: list-item !important;
}

.list li::marker {
  color: #e0ccdc;
}

.custom-list {
  margin-left: 2rem;
  margin-top: 0;
}

.custom-list li {
  list-style: disc;
  display: list-item !important;
}

.custom-list li::marker {
  color: #e0ccdc;
}
/* =====================
  SPONSORS AREA
  ===================== */
.sponsors-area {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  font-size: 1.4rem;
}

.sponsors-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  gap: 3rem 3rem;
}

.tier-title {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.bg-platinum {
  background-color: #e5e4e2;
}

.bg-gold {
  background-color: gold;
}

.bg-silver {
  background-color: #bec0c2;
}

.bg-purple {
  background-color: #e0ccdc;
}

.bg-major {
  background-color: #deeaf6;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 15rem;
}

@media screen and (max-width: 990px) {
  .sponsors-area {
    flex-direction: column;
  }

  .sponsors-list {
    grid-template-columns: 1fr;
  }
}

/* =====================
  BADGE
  ===================== */
.semi-circle {
  position: absolute;
  width: 100%;
  transform: rotate(-98deg);
}

.semi-circle path {
  fill: transparent;
}

.custom-badge {
  border: 10px solid gold;
  border-top-right-radius: 14%;
  border-top-left-radius: 14%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 0;
  min-width: 240px;
  max-width: 240px;
}

.custom-badge-inner {
  border: 5px solid #ffbb0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 0.8rem 0.5rem 1.5rem;
  position: relative;
}

text {
  letter-spacing: 1px;
}

.custom-badge-logo-container {
  display: flex;
  justify-content: center;
}

.custom-badge .logo {
  border-radius: 50%;
  width: 90%;
  opacity: 1;
  /* z-index: -1; */
  padding: 1rem 1rem 0.5rem;
}

.gold {
  background-color: gold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* 3 cards */
.btn-theme.btn-border-gradient.gray-border:hover {
  background: #494685;
  background: linear-gradient(to left, #494685 0%, #e0ccdc 100%);
}

img.img-shape,
img.shape-img,
img.icon,
img.line-shape,
.shape-layer img {
  filter: var(--icons-and-shapes-color);
}

img.shape-line-img {
  filter: var(--active-nav-color);
}

.home-slider-area.slider-default
  .slider-content-area
  .content
  .tittle-wrp
  h2
  span:before {
  filter: invert(20%) sepia(6%) saturate(572%) hue-rotate(260deg)
    brightness(91%) contrast(86%);
}

.widget-copyright.text-center {
  color: white;
}

a:hover,
a:active,
a:focus {
  box-shadow: none;
  color: #e0ccdc !important ;
  outline: none;
  text-decoration: none;
}

.section-title .title span {
  background: linear-gradient(to right, #dc67dc 0%, #7c39d9 30%, #7c39d9 100%);
  font-family: "Yeseva One", cursive;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
}

.section-title .title span::-moz-ssselection {
  -webkit-text-fill-color: #fff;
}
.section-title .title span::selection {
  -webkit-text-fill-color: #fff;
}

.subtitle-content h6::selection {
  -webkit-text-fill-color: #fff;
}
.subtitle-content h6::-moz-selection {
  -webkit-text-fill-color: #fff;
}

.tittle-wrp span {
  font-family: "Yeseva One", cursive;
}

.causes-item .content .donate-info .info-item .amount {
  background: linear-gradient(to left, #494685 0%, #3e393d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.causes-item .content .donate-info .info-item:hover {
  background: #e0ccdc;
  background: linear-gradient(to left, #e0ccdc 0%, #494685 100%);
}
.causes-item .content .donate-info .info-item:hover .info-title,
.causes-item .content .donate-info .info-item:hover .amount {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

img.shape-img3,
#circle1 {
  filter: invert(21%) sepia(4%) saturate(821%) hue-rotate(260deg)
    brightness(89%) contrast(86%);
}

.home-slider-area.slider-default
  .slider-content-area
  .content
  .subtitle-content
  h6 {
  background: linear-gradient(to right, #474480 0%, #baaab7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img#shape1 {
  filter: invert(25%) sepia(8%) saturate(3931%) hue-rotate(204deg)
    brightness(97%) contrast(85%);
}

img.circle-img {
  filter: invert(27%) sepia(33%) saturate(908%) hue-rotate(204deg)
    brightness(92%) contrast(93%);
}

.icon-box-style1 .icon-box-item {
  background-color: #474480;
}

.icon-box-style1 .icon-box-item.item-three {
  background-color: #6b5667;
}

.home-slider-area.slider-default
  .slider-content-area
  .layer-style
  .donate-circle-wrp {
  background-image: -ms-linear-gradient(-30deg, #474480 0%, #baaab7 100%);
  background: linear-gradient(-30deg, #474480 0%, #baaab7 100%);
  width: 22.7rem;
  height: 24rem;
}

div.about-us > p.mb-0.p-text {
  width: 50vw !important;
}

.pie-chart-circle canvas {
  height: 300px !important;
  width: 278px !important;
}

.about-area .about-content .text-style:before {
  background-color: #baaab7;
}

.welcome-content .client-content p {
  color: #fff;
  line-height: 1.6;
  width: 35vw;
}

.welcome-content .client-content h1 {
  color: #fff;
}

table#entry-fees {
  font-family: "Yeseva One", cursive;
  margin-top: 3%;
  color: #fff;
}

table#entry-fees tr > th,
table#entry-fees tr > td {
  padding: 1%;
}

table#entry-fees tr > td {
  width: 448px;
}

table#entry-fees tr > th {
  background: linear-gradient(#54528a, #9198e5);
}

table#entry-fees tr > th#desc {
  border-top-left-radius: 20px;
}

table#entry-fees tr > th#session-fee {
  border-top-right-radius: 20px;
}

table#entry-fees tr > td {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}

.footer-area .footer-bottom .widget-copyright p span,
.footer-area .footer-bottom .widget-copyright p a,
.footer-area .footer-bottom .widget-copyright p i {
  color: #4280e5;
}

h2.title.text-white {
  margin: 0 auto;
}

/* About Us page*/
.section-title .title.org {
  font-size: 60px;
  width: 75vw;
}

.members {
  margin: 1.1rem;
}

h2.member-designation {
  color: #909090;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #54528a;
}

.team-member .content .member-info .name {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

h2.commitee-title.title-style {
  color: black;
}

h2.commitee-title {
  text-align: center;
  color: #909090;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #54528a;
}

.member-info {
  margin: 4%;
}

.team-member .content .member-info .name {
  margin-bottom: 10px;
}

.team-member .content .member-info .name a {
  color: #001d23;
  font-weight: 300;
}

/* Contact Page */
.contact-info-content {
  background: var(--purple-linear-gradient) !important;
}

table#contacts-content {
  width: 17rem;
}

table#contacts-content tr > td {
  top: 2rem;
}

section.volunteer-text {
  margin: 5rem;
}

div.title-container > h2.title {
  width: 45vw;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.content p {
  margin: 0 auto;
  width: 50vw;
}

ul.nav-menu.nav.align-right {
  width: 15vw;
}

.content {
  margin: 1rem;
}

.bread-crumbs #active {
  color: #e0ccdc;
}

.main-menu > li:hover > a,
.main-menu > li.active > a {
  color: #e0ccdc;
}

.testimonials {
  color: white;
}

.title-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title-wrapper h1 {
  font-size: 60px;
  line-height: 1.25;
  text-shadow: 1px 3px lightgray !important;
}

.icon-box-item.item-one.mb-md-30,
.icon-box-item.item-two.mb-md-30,
.icon-box-item.item-three {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 44rem;
}

/*******************
  Testimonials Section
  *******************/
/* causes an issue in mobile view*/
.img-separator {
  position: absolute;
  top: 165px;
}

.separator-line {
  width: 5vw;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.icon-box-style1 .icon-box-item .content p {
  width: inherit;
  color: white;
}

.about {
  color: white;
}

h4.testimonial-name.about,
h6.testimonial-sponsor.about {
  font-weight: 300;
  font-family: "Roboto";
  padding-left: 5px;
  padding-right: 5px;
}

h4.testimonial-name.about,
h6.testimonial-sponsor.about {
  text-align: center;
}

.row.icon-box-style1.aos-init.aos-animate {
  margin-top: 5rem;
}

.testimonial-slider-container .navigation-wrp {
  background-color: #494685;
}

.testimonial-slider-container .swiper-button-next,
.testimonial-slider-container .swiper-button-prev {
  border: 2px solid #fff;
}

@media screen and (max-width: 600px) {
  /*********
   Home Page 
  **********/
  h1.title {
    text-align: center;
  }
  .welcome-content .client-content p {
    color: #fff;
    font-size: 17.5px;
    font-family: "Yeseva One", cursive;
    line-height: 1.6;
    margin: 0 auto;
    width: 75vw;
  }

  /*****************************************
   Hide Enter Stardom Button in Mobile View 
  ******************************************/
  a.btn-theme.btn-gradient.btn-slide.btn-style {
    display: none;
  }

  li {
    display: block !important;
  }

  .p-text {
    width: 70vw;
  }
  .welcome-content .client-content div.text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .sponsors {
    margin: 0 auto;
  }

  /*************
   About Us Page 
  **************/
  h2.title.org {
    margin: 0 auto;
  }

  ul.nav-menu.nav.align-right {
    width: 40vw !important;
  }

  div.about-us > p.mb-0.p-text {
    width: 80vw !important;
  }

  .col {
    margin-left: 8rem;
  }

  a.footer-logo > img {
    width: 70vw !important;
    border-radius: 50%;
    margin-left: 8%;
    margin-right: 8%;
  }

  /* Contant Page*/
  div.title-container > h2.title {
    width: 45vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }

  section.volunteer-text {
    margin: 1.5rem;
  }

  section.volunteer-text h2.title,
  div.section-title h2.title {
    font-size: 38px !important;
    margin: 0 auto;
  }

  section.volunteer-text h2.title {
    width: 80vw !important;
  }

  img#one {
    object-fit: cover;
    height: 19.5rem;
    width: 199px;
  }

  .content p {
    margin: 0 auto;
    width: 70vw;
  }

  /*******************
  Testimonials Section
  *******************/
  .title-wrapper h1 {
    font-size: 38px;
    line-height: 1.25;
    text-align: center;
    color: black;
    text-shadow: 1px 2px lightgray !important;
  }

  .img-separator {
    position: relative;
    top: 5px;
    right: 25px;
  }
  .icon-box-item.item-one.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-two.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-three .content > .testimonial-content {
    position: relative;
    top: 10px;
    width: 280px;
    padding: 1rem;
    /*
    overflow-y: scroll;
    overflow-x: hidden;
    */
    height: 170px;
  }
}

/*******************
  Contact Us
*******************/
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.testimonial-slider-container .navigation-wrp {
  background-color: #494685;
}

.testimonial-slider-container .swiper-button-next,
.testimonial-slider-container .swiper-button-prev {
  border: 2px solid #fff;
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /*****************************************
   Hide Enter Stardom Button in Mobile View 
  ******************************************/
  a.btn-theme.btn-gradient.btn-slide.btn-style {
    display: none;
  }

  li {
    display: block !important;
  }

  /* ----------- Home Page ----------- */
  .pie-chart-circle canvas {
    height: 170px !important;
    width: 165px !important;
  }

  .home-slider-area.slider-default
    .slider-content-area
    .layer-style
    .donate-circle-wrp {
    width: 11.7rem;
    height: 12rem;
  }

  .about-area .about-content .text-style {
    width: 65vw;
  }

  .p-text {
    font-size: 1.5rem;
    width: 80vw;
    font-weight: 300;
  }

  .client-content h1 {
    text-align: center;
  }
  .welcome-content .client-content p {
    line-height: 1.6;
    width: 68vw;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
  }

  .testimonial-slider-container .navigation-wrp {
    position: inherit;
  }

  .title-wrapper h1 {
    text-align: center;
  }

  p.text.p-text {
    text-align: center;
  }

  /*******************
  Testimonials Section
  *******************/
  .title-wrapper h1 {
    font-size: 38px;
    line-height: 1.25;
    text-align: center;
    color: black;
    text-shadow: 1px 2px lightgray !important;
  }

  .img-separator {
    position: relative;
    top: 5px;
    right: 25px;
  }

  .icon-box-item.item-one.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-two.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-three .content > .testimonial-content {
    position: relative;
    top: 10px;
    width: 280px;
    padding: 1rem;
    /*
    overflow-y: scroll;
    overflow-x: hidden;
    */
    height: 170px;
  }

  /*******************
  Footer Section
  *******************/
  div#empty-div {
    display: none;
  }

  iframe#homepage-map {
    width: 90vw;
  }

  /* ----------- About Us Page ----------- */
  section.volunteer-text h2.title,
  div.section-title h2.title {
    font-size: 38px !important;
    margin: 0 auto;
  }

  .thumb.thumb-style {
    width: 48vw;
    margin: 0 auto;
  }

  .testimonial-slider-container .navigation-wrp {
    background-color: #494685;
  }

  .testimonial-slider-container .swiper-button-next,
  .testimonial-slider-container .swiper-button-prev {
    border: 2px solid #fff;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  a.btn-theme.btn-gradient.btn-slide.btn-style {
    display: none;
  }

  li {
    display: block !important;
  }

  /* ----------- Home Page ----------- */
  .pie-chart-circle canvas {
    height: 170px !important;
    width: 165px !important;
  }

  .home-slider-area.slider-default
    .slider-content-area
    .layer-style
    .donate-circle-wrp {
    width: 11.7rem;
    height: 12rem;
  }

  .about-area .about-content .text-style {
    width: 40vw !important;
  }

  .client-content h1 {
    text-align: center;
  }
  .welcome-content .client-content p {
    line-height: 1.6;
    width: 58vw;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
  }

  .icon-box-item.item-one.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-two.mb-md-30 .content > .testimonial-content,
  .icon-box-item.item-three .content > .testimonial-content {
    position: absolute;
    top: 230px;
    width: 250px;
    padding: 1rem;
    height: 170px;
  }

  .img-separator {
    position: absolute;
    top: 185px;
  }

  p#covid-safety {
    position: relative;
    right: 20rem;
  }

  .testimonial-slider-container .navigation-wrp {
    background-color: #494685;
  }

  .testimonial-slider-container .swiper-button-next,
  .testimonial-slider-container .swiper-button-prev {
    border: 2px solid #fff;
  }
}
