/* =====================
  GENERAL STYLES
 ===================== */
.bg-light-purple {
  background-color: #e0ccdc;
  /* color: #fff; */
}
.bg-dark-purple {
  background-color: #494685;
  color: #fff;
}

.bg-light-grey {
  background-color: #e9ecef;
}

.light-purple {
  color: #e0ccdc;
}

.dark-purple {
  color: #494685;
}

.link {
  color: #494685;
  border-bottom: 2px solid #494685;
  position: relative;
  transition: all 0.25s linear;
}

.link:before {
  content: "";
  display: block;
  width: 102%;
  height: 2px;
  background-color: #e0ccdc;
  position: absolute;
  left: 0;
  bottom: -2px; /* this is to match where the border is */
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
  /*   will-change: transform; */
}

.link:hover:before {
  transform: scale(1);
}

/* =====================
  TYPOGRAPHY
  ===================== */
.bold {
  font-weight: 500;
}

.semi-bold {
  font-weight: 400;
  font-size: 1.4375rem;
}

/* =====================
  ALERT
  ===================== */
.alert-icon-container {
  font-size: 3rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.alert-texts {
  font-size: 1.4rem;
  font-weight: 400;
}

.alert {
  background: #494685;
  color: #fff;
  border: none;
}

.alert-texts p:first-of-type {
  color: #e0ccdc;
}

/* =====================
  CONTACT INFO
  ===================== */
.contact-info-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(210px, 1fr));
  gap: 3rem;
}

.contact-info {
  border-left: 4px solid #e0ccdc;
  border-radius: 2px;
  padding: 0 0.8rem;
}

.contact-type {
  color: #6c757d;
  display: flex;
  align-items: center;
}

.contact-type i {
  margin-right: 0.5rem;
}

.contact-type span {
  font-size: 1.1rem;
}

.icon_mail {
  margin-top: -3px;
}

.contact-time {
  margin-top: 1.875rem;
}

/* =====================
  MEDIA QUERIES
 ===================== */
@media screen and (max-width: 500px) {
  .alert-icon-container {
    font-size: 2.5rem;
    padding-right: 1rem;
  }

  .alert-texts {
    font-size: 1.2rem;
  }

  .alert {
    justify-content: center;
  }

  .contact-info-container {
    grid-template-columns: 1fr;
    gap: 2.5rem 0;
  }
}

@media screen and (max-width: 380px) {
  .alert-icon-container {
    font-size: 2.5rem;
    padding-right: 1rem;
  }

  .alert-texts {
    font-size: 1rem;
  }
}
